.body-container {
  display: flex;
  flex-direction: row;
}

.onboarding-container {
  flex: 0.6;
  border-right: 1px solid black;
  padding: 0 20px;
  width: 100%;
}

.credentials-container {
  flex: 0.4;
  padding-left: 50px;
}

.close-btn {
  height: 20;
  width: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-btn {
  width: 100%;
  margin-top: 10px;
  height: 30px;
  background-color: #fff1e3;
  align-self: center;
}

.plus-btn:disabled {
  opacity: 0.5;
}

.field-section {
  padding-left: 50px;
  padding-right: 50px;
}

.claim-input-container {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.card-container {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid black;
  position: relative;
}

.card-field {
  display:flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.empty-placeholder {
  color: grey;
  margin: auto;
}

.floating {
  position: absolute;
  right: 10px;
  top: 10px;
}
